/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* intestazione */
header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #21CAEF;
    position: relative;
    height: 200px;
}

header img {
    height: 200px;
    position: absolute;
    left: 300px;
    top: 0px;
}

header h1 {
    position: absolute;
    top: 80px;
    left: 460px;
}

/* corpo principale */
.box {
    background-color: #C2EFB3;
    padding-top: 50px;
    padding-left: 50px;
}

.box ul li {
    font-size: 20px;
    margin-bottom: 10px;
}

.delete{
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

label {
    font-size: 20px;
}

/* template */
.template {
    display: none;
}